 html,body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }

        #background 
            {
                background-repeat:no-repeat;
               background-attachment:fixed;
               background-position:center;
                width: 100%;
                height: 100%;
                position: fixed;
                left: 0px;
                top: 0px;
                z-index: -99999;
                opacity: 0.8;
            }
            
        #background img 
            {
               
            }
           

        #main{ z-index:10;}
            
            
            
        h1
          {
            letter-spacing: 2px;
            font-family: Impact, Charcoal, sans-serif;
            font-weight:600;
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
            
            }
        
        h1.outline {
                background-color: #262626;
            }
          
         h2,h3,h4,h5,p,tr,tb
            {
             color: #1a1a1a;
             font-weight: bold;
            }
            
          
        .btn{
               background-color: #262626;
                border: 0 none;
                font-weight: 700;
                color: #ffffff;
                text-transform: uppercase;
                box-shadow: 0 3px 0 0 #000000;
            }
            
        .btn.outline {
            background-color: #262626;
             }
 
        .btn:focus, 
        .btn:active:focus, 
        .btn.active:focus {
             outline: 0 none;
            }
             
        .btn-primary {
                
            color: #ffffff;
            }
             
            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary:active,
            .btn-primary.active,
            .open > .dropdown-toggle.btn-primary {
                background: #737373;
                
            }
             
            .btn-primary:active, .btn-primary.active {
                background: #b3b3b3;
                color: #ff3300;
                box-shadow: none;
            }
            
            .btn-primary.raised {
                box-shadow: 0 3px 0 0 #000000;
            }
            .btn-primary.raised:active, .btn.raised.active {
            	background: #b3b3b3;
            	box-shadow: none;
            	margin-bottom: -3px;
            	margin-top: 3px;
            }
            #bs-example-navbar-collapse-1 {
                margin:0;
            }